app-hikin-publicacion, app-hikin-comentario{
    width: 100%;
}

section{
    padding: .5em 1.2em;
}
h2{
    margin-top: .5em;
    margin-bottom: .75em;
}
form,form>*{
    width: 100%;

    margin-block: .5em;
}