article{
    background-color: var(--ion-color-step-50);

    margin-bottom: 1em;
    border-block: 1px solid var(--ion-color-step-100);
}
article>header,article>section{
    padding: .5em 1.2em;
}
article>header{
    padding-top: 1em;
}
article>ion-img{
    padding: 0;
}

article>footer, div.pubMeta, div.pubAuthor, div.pubAssoc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
article>footer>div, div.pubAssoc>div{
    text-align: center;

    cursor: pointer;

    padding: .4em 0;
}
article>footer>div>span, div.pubAssoc>div:not(:first-child), div.pubAssoc>div>span, div.pubAuthor>span{
    margin-left: .5em;
}

div.pubMeta{
    justify-content: space-between;
}
div.pubAuthor>ion-img{
    object-fit: cover;
    width: 28px;
    height: 28px;
}
div.pubAuthor>ion-img::part(image){
    border-radius: 100%;
}

h2{
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', fantasy;
    margin-top: 0;
}


article>footer{
    justify-content: space-around;
}
article>footer>div{
    width: 100%;
}

ion-icon{
    font-size: 24px;
    vertical-align: middle;
}