article>header{
    padding-top: 1em;
}
article>section{
    cursor: pointer;
}
article>ion-img{
    width: 100%;
    
    padding: 0;
}

article>footer, div.meta, div.author, div.pubAssoc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
article>footer>div, div.pubAssoc>div{
    text-align: center;

    cursor: pointer;

    padding: .4em 0;
}
article>footer>div>span, div.pubAssoc>div:not(:first-child), div.pubAssoc>div>span{
    margin-left: .5em;
}

h2{
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', fantasy;
    margin-top: 0;
}


article>footer{
    justify-content: space-around;
}
article>footer>div{
    width: 100%;
}

ion-icon{
    font-size: 24px;
    vertical-align: middle;
}