<article class="publicacion">
  <header>
    <div class="meta">
      <div class="author" [routerLink]="'/usuarios/'+publicacion.autor" routerDirection="forward">
        <ion-img [src]="publicacion.autorimagen" [alt]="'Foto de perfil de '+publicacion.autornombre" (ionError)="setDefaultPfp($event)"></ion-img>
        <span>{{ publicacion.autornombre }}</span>
      </div>
      <div>
        <span>{{ publicacion.fecha }}</span>
      </div>
    </div>
    <div class="pubAssoc">
      <div *ngIf="publicacion.itinerario">
        <ion-icon name="trail-sign" title="Itinerario asociado"></ion-icon>
        <span [routerLink]="'/itinerarios/'+publicacion.itinerario" routerDirection="forward">{{ publicacion.itinerariodenominacion }}</span>
      </div>
      <div *ngIf="publicacion.club" title="Club asociado">
        <ion-icon name="people"></ion-icon>
        <span [routerLink]="'/clubes/'+publicacion.club" routerDirection="forward">{{ publicacion.clubnombre }}</span>
      </div>
    </div>
  </header>
  <section [routerLink]="'/publicaciones/'+publicacion.id" routerDirection="forward">
    <h2>{{ publicacion.titulo }}</h2>
    <p>{{ publicacion.descripcion }}</p>
  </section>
  <ion-img *ngIf="publicacion.imagen" [src]="publicacion.imagen" alt="" (ionError)="setDefaultImage($event)"></ion-img>
  <footer>
    <div [routerLink]="'/publicaciones/'+publicacion.id" routerDirection="forward">
      <ion-icon name="chatbox-outline" title="Comentarios"></ion-icon>
      <span>{{ publicacion.n_comentarios }}</span>
    </div>
    <div>
      <ion-icon [name]="( publicacion.is_kudos ) ? 'thumbs-up' : 'thumbs-up-outline'" (click)="toggleKudos($event)" title="Kudos"></ion-icon>
      <span>{{ publicacion.n_kudos }}</span>
    </div>
    <div>
      <ion-icon name="share-social-outline" title="Compartir"></ion-icon>
    </div>
  </footer>
</article>