<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EJEMPLO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EJEMPLO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="container">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div id="container">
    <strong>AAAAAAAAAAAAAAAAAAAAA</strong>
    <p>
      Explórame ésta
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
