<ion-content [fullscreen]="true">
  <div id="container">
    <header>
      <h1>REGÍSTRATE</h1>
      <img src="assets/logos/hikin_imagotipo.jpg" alt="Imagotipo de HikIn">
    </header>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <label>
        <span>Nombre de usuario</span>
        <input
          id="username"
          type="text"
          [formControlName]="usernameFormControlName"
          required>
        <span #errUsername class="errMsg"></span>
      </label>

      <label>
        <span>Email</span>
        <input
          id="email"
          type="email"
          [formControlName]="emailFormControlName"
          required>
        <span #errEmail class="errMsg"></span>
      </label>
      
      <label>
        <span>Contraseña</span>
        <input
          id="password"
          type="password"
          [formControlName]="passwordFormControlName"
          required>
        <span #errPassword class="errMsg"></span>
      </label>

      <button type="submit">REGISTRARSE</button>
    </form>

    <p>
      ¿Ya tienes una cuenta? <a routerLink="../login" routerDirection="root">Inicia sesión</a>.
    </p>

    <p>
      Al registrarte, aceptas las
      <a routerLink="">condiciones de uso</a>
      y la
      <a routerLink="">política de privacidad</a>
    </p>
  </div>
</ion-content>
