<!--Contenido-->
<div id="main-content">
  <app-hikin-mainheader [search]="searchBars.Comunidad" (paramsComunidad)="buscarComunidad($event)"></app-hikin-mainheader>
  
  <ion-content [fullscreen]="true" role="feed">
    <ion-segment [scrollable]="true" [value]="currentSegment" (ionChange)="setSegment($event)">
      <ion-segment-button value="usuarios">Usuarios</ion-segment-button>
      <ion-segment-button value="clubes">Clubes</ion-segment-button>
    </ion-segment>

    <div *ngIf="(currentSegment === 'usuarios')">
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios" role="article">
          <app-hikin-usuarioprev [usuario]="usuario"></app-hikin-usuarioprev>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="(currentSegment === 'clubes')">
      <ion-list>
        <ion-item *ngFor="let club of clubes" role="article">
          <app-hikin-clubprev [club]="club"></app-hikin-clubprev>
        </ion-item>
      </ion-list>
    </div>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>
