ion-toolbar{
    --background: var(--hikin-primario);
}

ion-avatar{
    position: relative;
    z-index: 9999;

    width: 40%;
    height: 100%;

    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--hikin-primario);

    padding: 0 1.2em 1em 1.2em;
    margin-top: -2.5em;
}

h2{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;

    padding-left: 0;
    margin: 0;
}
ul>li{
    margin: 0 .75em;
}
ul>li:first-child{
    list-style: none;
}
ul>li:not(:first-child){
    margin-left: .5em;
}

ul>li>ion-icon{
    margin-right: .5em;
}

div.botones{
    width: 100%;
}
ion-button{
    width: 100%;
}
ion-button.cancelar{
    --background: var(--hikin-error);
}

ion-button[fill=outline]{
    --color: var(--hikin-texto-claro);
    --border-color: var(--hikin-texto-claro);
}