<article class="comentario">
  <header>
    <div class="meta">
      <div class="author" [routerLink]="'/usuarios/'+resena.usuario" routerDirection="forward">
        <ion-img [src]="resena.autorimagen" [alt]="'Foto de perfil de '+resena.autornombre" (ionError)="setDefaultPfp($event)"></ion-img>
        <span>{{ resena.autornombre }}</span>
      </div>
      <div>
        <span>{{ resena.fecha }}</span>
      </div>
    </div>
  </header>
  <div>
    <div class="estrellas">
      <ion-icon *ngFor="let v of valoracion" name="star" class="rellena"></ion-icon>
      <ion-icon *ngFor="let r of resto" name="star" class="vacia"></ion-icon>
    </div>
    <p>{{ resena.observaciones }}</p>
  </div>
  <footer *ngIf="userService.user.id === resena.usuario">
    <ion-button type="button" fill="none" (click)="eliminarResena()">
      <ion-icon name="trash-outline" title="Eliminar"></ion-icon>
    </ion-button>
  </footer>
</article>