<ion-header>
  <ion-toolbar>
    <ion-list-header>[NOMBRE DE USUARIO]</ion-list-header>
    <ion-note>[NOMBRE REAL]</ion-note>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list id="main-list">
    <ion-menu-toggle auto-hide="false" *ngFor="let p of sidemenuLeftPages; let i = index">
      <ion-item routerDirection="forward" [routerLink]="p.url" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false" style="cursor:pointer;">
      <ion-item (click)="logout()">
        <ion-icon aria-hidden="true" slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  
  <ion-list id="other-list">
    <ion-list-header>Otros</ion-list-header>
    <ion-menu-toggle auto-hide="false" *ngFor="let p2 of sidemenuLeftPages2; let i = index">
      <ion-item routerDirection="forward" [routerLink]="p2.url" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon aria-hidden="true" slot="start" [ios]="p2.icon + '-outline'" [md]="p2.icon + '-outline'"></ion-icon>
        <ion-label>{{ p2.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
