<ion-content [fullscreen]="true">
  <div id="container">
    <header>
      <h1>INICIA SESIÓN</h1>
      <img src="assets/logos/hikin_imagotipo.jpg" alt="Imagotipo de HikIn">
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label>
        <span>Email</span>
        <input
          id="email"
          type="email"
          [formControlName]="emailFormControlName"
          required>
        <span #errEmail class="errMsg"></span>
      </label>
      
      <label>
        <span>Contraseña</span>
        <input
          id="password"
          type="password"
          [formControlName]="passwordFormControlName"
          required>
        <span #errPassword class="errMsg"></span>
      </label>

      <button type="submit">INICIAR SESIÓN</button>
    </form>

    <p>
      ¿Aún no tienes una cuenta? <a routerLink="../register">Regístrate</a>.
    </p>
  </div>
</ion-content>
