article{
    padding-top: .5em;
}

h2{
    font-size: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header>ion-img{
    max-width: 30%;

    margin-right: 1em;
}

header>ion-img::part(image){
    border: 2px solid var(--hikin-primario-side);
    border-radius: 4px;
}

ion-img.locked{
    filter: grayscale(1);
}

article>p{
    padding: .5em 1.2em;

    margin-top: 0;
}

footer>p{
    opacity: .7;

    font-size: 12px;

    margin-top: 0;
}