article>div{
    padding: .5em 1.2em;
}
article>header{
    padding-top: 1.5em;
}
article>div{
    padding-top: 1em;
}
article>div,div.fechas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article>footer>div{
    margin-bottom: .5em;
}

h2{
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', fantasy;
    font-size: 22px;

    margin-top: 0;
}

article>div>div{
    margin-bottom: .5em;
}

article>footer{
    justify-content: space-between;
}
article>div>div>span, footer>div>span{
    margin-left: .5em;
}

ion-icon{
    font-size: 24px;
    vertical-align: middle;
}

div.fechas span{
    margin: 0 !important;
}
div.fechas>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 1em !important;
}
div.fechas>div>span:last-child{
    font-size: 18px;
    font-weight: bold;
}

table{
    width: 100%;
}
td{
    padding-block: .5em;
}

div.cancelada{
    font-size: 20px;

    text-align: center;
    color: var(--hikin-error-alt);

    margin-top: 1.5em;
}

ion-button{
    width: 100%;
}
ion-button.cancelar{
    --background: var(--hikin-error);
}

ion-modal ion-toolbar{
    --background: var(--hikin-primario);
    --color: var(--hikin-texto-claro);
}