<app-hikin-detailsheader titulo="Sobre HikIn"></app-hikin-detailsheader>

<ion-content [fullscreen]="true">
  <article>
    <header>
      Autor:
      <a href="https://dgltorress.github.io/es.html" target="_blank">Daniel Giménez López-Torres</a>
    </header>
    <section>
      <h2>La red social para senderistas</h2>
      <p>¡Te doy la bienvenida a HikIn!</p>
      <p>HikIn es una red social vertical diseñada específicamente para el nicho de senderistas en España, ya sean expertos o principiantes.</p>
      <p>Todo el trabajo de diseño e implementación, así como el estudio previo del estado del arte, forma parte del Trabajo de Fin de Grado para el Grado en Ingeniería Multimedia de la Universidad de Alicante titulado <em>Diseño y desarrollo de una red social vertical para senderistas</em>.</p>
    </section>
  </article>
</ion-content>
