ion-content[role=feed] ion-list,
ion-content[role=feed] ion-item,
ion-content.clean ion-list,
ion-content.clean ion-item{
    margin: 0;
    padding: 0;
}

ion-content[role=feed] ion-list,
ion-content.clean ion-list{
    --background: transparent;
}

ion-content[role=feed] ion-item,
ion-content.clean ion-item{
    --background: transparent;

    --padding-start: 0;
    --inner-padding-start: 0;

    --padding-end: 0;
    --inner-padding-end: 0;

    --padding-top: 0;
    --inner-padding-top: 0;

    --padding-bottom: 0;
    --inner-padding-bottom: 0;


    --border-width: 0;
    --inner-border-width: 0;
}

ion-button[fill=solid]{
    --background: var(--hikin-secundario);
}
ion-button[fill=outline]{
    --color: var(--hikin-secundario);
    --border-color: var(--hikin-secundario);
}

ion-segment-button{
    --background: var(--hikin-secundario);
}
ion-segment-button{
    --background-checked: var(--hikin-secundario-side);

    --color: var(--hikin-texto-claro);
    --color-checked: var(--hikin-texto-claro);
    --border-color-checked: var(--hikin-texto-claro);
}

hr{
    width: 85%;
    height: 1px;

    background-color: var(--ion-color-step-100);

    margin: 0 auto;
}