ion-content[role=feed] ion-list,
ion-content[role=feed] ion-item,
ion-content.clean ion-list,
ion-content.clean ion-item{
    margin: 0;
    padding: 0;
}

ion-content[role=feed] ion-list,
ion-content.clean ion-list{
    --background: transparent;
}

ion-content[role=feed] ion-item,
ion-content.clean ion-item{
    --background: transparent;

    --padding-start: 0;
    --inner-padding-start: 0;

    --padding-end: 0;
    --inner-padding-end: 0;

    --padding-top: 0;
    --inner-padding-top: 0;

    --padding-bottom: 0;
    --inner-padding-bottom: 0;


    --border-width: 0;
    --inner-border-width: 0;
}