article>header{
    cursor: pointer;
    font-weight: bold;
}
article>header,article>footer{
    padding-top: 1em;
}
article>div,div.fechas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article>footer>div{
    cursor: pointer;

    margin-bottom: .5em;
}

h2{
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', fantasy;
    font-size: 22px;

    margin-top: 0;
}

article>div>div{
    margin-bottom: .5em;
}

article>footer{
    justify-content: space-between;
}
article>div>div>span, footer>div>span{
    margin-left: .5em;
}

ion-icon{
    font-size: 24px;
    vertical-align: middle;
}

div.fechas{
    align-items: center;

    font-size: 18px;

    margin-top: .5em;
}
div.fechas>span{
    margin: 0;
}