<article class="salidaprev">
  <header>
    <h2 [routerLink]="'/salidas/'+salida.id" routerDirection="forward">
      <ion-icon *ngIf="salida && salida.privada" name="lock-closed"></ion-icon>
      {{ salida.nombre }}
    </h2>
  </header>
  <div>
    <div style="cursor: pointer;">
      <ion-icon name="trail-sign" title="Itinerario objetivo"></ion-icon>
      <span [routerLink]="'/itinerarios/'+salida.itinerario" routerDirection="forward">{{ salida.itinerariodenominacion }}</span>
    </div>
    <div>
      <ion-icon name="location" title="Ubicación"></ion-icon>
      <span>{{ ( ( salida.nombrepro ) ? salida.nombrepro + ', ' : '' )  + salida.nombreauto }}</span>
    </div>
    <div class="fechas">
      <span>{{ salida.fecha_inicio }}</span>
      <span style="margin-inline: .5em;">&mdash;</span>
      <span>{{ salida.fecha_fin }}</span>
    </div>
  </div>
  <footer>
    <div class="meta">
      <div class="author" [routerLink]="'/usuarios/'+salida.organizador" routerDirection="forward">
        <ion-img [src]="salida.organizadorimagen" [alt]="'Foto de perfil de '+salida.autornombre" (ionError)="setDefaultPfp($event)"></ion-img>
        <span>{{ salida.organizadornombre }}</span>
      </div>
      <div>
        <span>{{ salida.fecha }}</span>
      </div>
    </div>
    <div *ngIf="salida.club">
      <ion-icon name="people" title="Club asociado"></ion-icon>
      <span [routerLink]="'/clubes/'+salida.club" routerDirection="forward">{{ salida.clubnombre }}</span>
    </div>
  </footer>
</article>