main>header{
    margin-bottom: .5em;
}
main>header>ion-label>h3{
    font-size: 22px;

    margin-top: .5em;
}
main>header>ion-label>p{
    font-size: 18px;

    color: var(--hikin-texto-claro);
}

main>p,ion-label{
    text-align: center;
}