<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <main *ngIf="usuario">
    <ion-avatar>
      <img [src]="usuario.imagen" alt="Foto de perfil" (error)="setDefaultClub($event)">
    </ion-avatar>
    <header>
      <ion-label>
        <h3><ion-icon *ngIf="usuario.privado" name="lock-closed" title="Privado"></ion-icon>{{ usuario.usuario }}</h3>
        <p>{{ usuario.nombre }}</p>
      </ion-label>
    </header>
    <ul class="tags">
      <li>
        <ion-icon name="time" title="Edad"></ion-icon>
        <span>{{ usuario.edad }}</span>
      </li>
      <li>
        <ion-icon name="male-female" title="Sexo"></ion-icon>
        <span>{{ usuario.sexolegible }}</span>
      </li>
      <li>
        <ion-icon name="people" title="Seguidores"></ion-icon>
        <span>{{ usuario.n_seguidores }}</span>
      </li>
    </ul>
    <span>Miembro desde el:</span>
    <span>{{ usuario.fecha_reg }}</span>
    <p>{{ usuario.bio }}</p>
    <div class="botones">
      <ion-button *ngIf="userService.user && ( userService.user.id !== usuario.id )"
        [fill]="( usuario.is_siguiendo ) ? 'outline' : 'solid'" (click)="toggleSeguimiento($event)">
        {{ ( usuario.is_siguiendo ) ? userheaderComponent.textoSiguiendo : userheaderComponent.textoSeguir }}
      </ion-button>
      <ion-button *ngIf="userService.user && ( userService.user.id === usuario.id )"
        fill="solid" (click)="toggleEditar(true)">
        Editar
      </ion-button>
      <!--<ion-button *ngIf="userService.user && ( userService.user.id === usuario.id )"
        fill="solid" class="cancelar" (click)="eliminarUsuario($event)">
        Eliminar
      </ion-button>-->
    </div>
  </main>
</ion-header>

<ion-modal [isOpen]="isEditOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar perfil</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleEditar(false)" [strong]="true">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-hikin-usuarioform [usuario]="usuario" [accion]="'editar'"
        (editado)="emitirNuevoUsuario()" (nuevaImagen)="setImagen($event)"></app-hikin-usuarioform>
    </ion-content>
  </ng-template>
</ion-modal>