<!--Contenido-->
<div id="main-content">
  <app-hikin-mainheader></app-hikin-mainheader>

  <ion-content [fullscreen]="true" role="feed">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">FEED</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item *ngFor="let publicacion of publicaciones" role="article">
        <app-hikin-publicacion [publicacion]="publicacion"></app-hikin-publicacion>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>

<ion-modal [isOpen]="isCreateOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Subir publicación</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleCrear(false)" [strong]="true">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-hikin-publicacionform [accion]="'crear'" (creado)="redirigirNueva($event)"
        (creado)="toggleCrear(false)"></app-hikin-publicacionform>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  [edge]="false">
  <ion-fab-button (click)="toggleCrear(true)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>