<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menú izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="sidemenuLeft"></ion-menu-button>
    </ion-buttons>
    <!-- Logo si no se solicita barra de búsqueda -->
    <ion-img *ngIf="!search" src="assets/logos/hikin_isotipo.jpg" alt="Isotipo de HikIn"></ion-img>
    <!-- Comunidad -->
    <form
      *ngIf="search === searchBars.Comunidad"
      [formGroup]="buscarComunidadForm"
      (ngSubmit)="buscarComunidad()">
      <ion-input
        formControlName="texto"
        type="search"
        inputmode="search"
        enterkeyhint="search"
        fill="solid"
        aria-label="Campo de texto para buscar usuarios y clubes"
        placeholder="Busca usuarios y clubes&mldr;">
        </ion-input>
    </form>
    <!-- Salidas -->
    <form
      *ngIf="search === searchBars.Salidas"
      id="searchSalidasForm"
      [formGroup]="buscarSalidasForm"
      (ngSubmit)="buscarSalidas()">
      <ion-accordion-group  (ionChange)="comprobarYPedirAutonomias()">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-input
              formControlName="texto"
              type="search"
              inputmode="search"
              enterkeyhint="search"
              fill="none"
              aria-label="Campo de texto para buscar salidas"
              placeholder="Busca salidas&mldr;">
            </ion-input>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item>
                <ion-select
                  formControlName="codauto"
                  label="Comunidad autónoma"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar"
                  (ionChange)="manejarAutonomia($event)">
                  <ion-select-option *ngFor="let autonomia of autonomias" [value]="autonomia.cod">{{ autonomia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="cpro"
                  label="Provincia"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option *ngFor="let provincia of provincias" [value]="provincia.cod">{{ provincia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Comienza después de</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-datetime-button id="startDateButton" datetime="startDate"></ion-datetime-button>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Comienza antes de</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-datetime-button id="endDateButton" datetime="endDate"></ion-datetime-button>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="desde" id="startDate"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="hasta" id="endDate"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-button type="submit">BUSCAR</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </form>
    <!-- Itinerarios -->
    <form
      *ngIf="search === searchBars.Itinerarios"
      id="searchItinerariosForm"
      [formGroup]="buscarItinerariosForm"
      (ngSubmit)="buscarItinerarios()">
      <ion-accordion-group (ionChange)="comprobarYPedirAutonomias()">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-input
              formControlName="texto"
              type="search"
              inputmode="search"
              enterkeyhint="search"
              fill="none"
              aria-label="Campo de texto para buscar itinerarios"
              placeholder="Busca itinerarios&mldr;">
            </ion-input>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item>
                <ion-select
                  formControlName="codauto"
                  label="Comunidad autónoma"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar"
                  (ionChange)="manejarAutonomia($event)">
                  <ion-select-option *ngFor="let autonomia of autonomias" [value]="autonomia.cod">{{ autonomia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="cpro"
                  label="Provincia"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option *ngFor="let provincia of provincias" [value]="provincia.cod">{{ provincia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="dificultad"
                  label="Dificultad"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option [value]="1">Fácil</ion-select-option>
                  <ion-select-option [value]="2">Media</ion-select-option>
                  <ion-select-option [value]="3">Difícil</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-button type="submit">BUSCAR</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </form>
    <!-- Menú derecho -->
    <ion-buttons slot="end">
      <ion-menu-button menu="sidemenuRight">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>