<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Acceso al menú izquierdo -->
    <ion-buttons slot="start">
      <ion-menu-button menu="sidemenuLeft"></ion-menu-button>
    </ion-buttons>
    <!-- Logo si no se solicita barra de búsqueda -->
    <ion-img *ngIf="!search" src="assets/logos/hikin_isotipo.jpg" alt="Isotipo de HikIn"></ion-img>
    <!-- Comunidad -->
    <form
      *ngIf="search === searchBars.Comunidad"
      [formGroup]="buscarComunidadForm"
      (ngSubmit)="buscarComunidad()">
      <ion-input
        formControlName="texto"
        type="search"
        inputmode="search"
        enterkeyhint="search"
        fill="solid"
        aria-label="Nombre"
        placeholder="Busca usuarios y clubes&mldr;">
        </ion-input>
    </form>
    <!-- Salidas -->
    <form
      *ngIf="search === searchBars.Salidas"
      id="searchSalidasForm"
      [formGroup]="buscarSalidasForm"
      (ngSubmit)="buscarSalidas()">
      <ion-accordion-group (ionChange)="comprobarYPedirAutonomias()">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-input
              formControlName="texto"
              type="search"
              inputmode="search"
              enterkeyhint="search"
              fill="none"
              aria-label="Nombre o descripción"
              placeholder="Busca salidas&mldr;">
            </ion-input>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item>
                <ion-select
                  formControlName="codauto"
                  label="Comunidad autónoma"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar"
                  (ionChange)="manejarAutonomia($event)">
                  <ion-select-option [value]="null">-</ion-select-option>
                  <ion-select-option *ngFor="let autonomia of autonomias" [value]="autonomia.cod">{{ autonomia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="cpro"
                  label="Provincia"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option [value]="null">-</ion-select-option>
                  <ion-select-option *ngFor="let provincia of provincias" [value]="provincia.cod">{{ provincia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Comienza después de</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-datetime-button id="startDateButton" datetime="startDate"></ion-datetime-button>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Comienza antes de</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-datetime-button id="endDateButton" datetime="endDate"></ion-datetime-button>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="desde" id="startDate"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="hasta" id="endDate"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-button type="submit">BUSCAR</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </form>
    <!-- Itinerarios -->
    <form
      *ngIf="search === searchBars.Itinerarios"
      id="searchItinerariosForm"
      [formGroup]="buscarItinerariosForm"
      (ngSubmit)="buscarItinerarios()">
      <ion-accordion-group (ionChange)="comprobarYPedirAutonomias()">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-input
              formControlName="texto"
              type="search"
              inputmode="search"
              enterkeyhint="search"
              fill="none"
              aria-label="Nombre o descripción"
              placeholder="Busca itinerarios&mldr;">
            </ion-input>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item>
                <ion-input
                  formControlName="cod"
                  type="text"
                  inputmode="text"
                  enterkeyhint="text"
                  fill="solid"
                  label="Rotulación"
                  label-placement="floating"
                  placeholder="SL/PR/GR-...">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="codauto"
                  label="Comunidad autónoma"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar"
                  (ionChange)="manejarAutonomia($event)">
                  <ion-select-option [value]="null">-</ion-select-option>
                  <ion-select-option *ngFor="let autonomia of autonomias" [value]="autonomia.cod">{{ autonomia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="cpro"
                  label="Provincia"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option [value]="null">-</ion-select-option>
                  <ion-select-option *ngFor="let provincia of provincias" [value]="provincia.cod">{{ provincia.nombre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select
                  formControlName="dificultad"
                  label="Dificultad"
                  label-placement="floating"
                  fill="solid"
                  cancelText="Cancelar">
                  <ion-select-option [value]="null">-</ion-select-option>
                  <ion-select-option [value]="1">Fácil</ion-select-option>
                  <ion-select-option [value]="2">Media</ion-select-option>
                  <ion-select-option [value]="3">Difícil</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Distancia en km. (SL y PR)</ion-label>
                    <ion-icon
                      name="close-outline"
                      (click)="distanciaRangeControl.reset()">
                    </ion-icon>
                  </ion-row>
                  <ion-row>
                    <ion-range
                      formControlName="distancia"
                      aria-label="Distancia en kilómetros (SL y PR)"
                      fill="solid"
                      [min]="1"
                      [max]="50"
                      [dualKnobs]="true"
                      [value]="distanciaRange"
                      [pin]="true">
                    </ion-range>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Desnivel absoluto en metros</ion-label>
                    <ion-icon
                      name="close-outline"
                      (click)="desnivelRangeControl.reset()">
                    </ion-icon>
                  </ion-row>
                  <ion-row>
                    <ion-range
                      formControlName="desnivel"
                      aria-label="Desnivel absoluto en metros"
                      fill="solid"
                      [min]="1"
                      [max]="1000"
                      [dualKnobs]="true"
                      [value]="desnivelRange"
                      [pin]="true">
                    </ion-range>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-label>Duración en minutos</ion-label>
                    <ion-icon
                      name="close-outline"
                      (click)="tiempoRangeControl.reset()">
                    </ion-icon>
                  </ion-row>
                  <ion-row>
                    <ion-range
                      formControlName="tiempo"
                      aria-label="Duración en minutos"
                      fill="solid"
                      [min]="30"
                      [max]="840"
                      [dualKnobs]="true"
                      [value]="tiempoRange"
                      [pin]="true">
                    </ion-range>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-checkbox
                  formControlName="circular"
                  labelPlacement="start">
                  Circular
                </ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-button type="submit">BUSCAR</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </form>
    <!-- Acceso al menú derecho -->
    <ion-buttons slot="end">
      <ion-menu-button menu="sidemenuRight">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>