ion-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    --background: var(--hikin-primario);
}
ion-buttons{
    align-self: flex-start;
    margin-top: .3em;
}
ion-img{
    height: 40px;
}

/** ion-input.custom {

} **/


ion-list, ion-accordion, ion-accordion div.ion-padding{
    background: transparent;
}
ion-accordion div.ion-padding{
    padding: 0;
    padding-top: 1em;
}
ion-list, ion-list > *{
    margin-bottom: .5em;
}

ion-list, ion-item{
    padding: 0;
}
ion-item{
    border-radius: 4px;
}

ion-datetime-button{
    margin: auto;
}

ion-label{
    margin: .5em auto;
}

form ion-button{
    width: 100%;

    --background: var(--hikin-secundario);

    margin-bottom: .75em;
}
ion-button::part(native){ /* Color del Shadow DOM */
    color: var(--hikin-texto-claro);
}