app-hikin-salida,app-hikin-usuarioprev{
    width: 100%;
}

ion-input.nomostrar{
    display: none;
}

ion-list.formularios>ion-item{
    display: flex;
    flex-direction: column;
}

div.valoracion{
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--ion-color-step-50);
    border-block: 1px solid var(--ion-color-step-100);

    padding: .5em 1.2em;
}
div.valoracion form>*{
    margin-block: .5em;
}
div.valoracion ion-label{
    display: block;
}
div.valoracion ion-range{
    padding-top: 0;
}

ion-button{
    width: 100%;
}