<form
  [formGroup]="recursoForm"
  (ngSubmit)="handleSubmit()">
  <ion-list>
    <ion-item>
      <ion-input
        formControlName="nombre"
        type="text"
        inputmode="text"
        fill="outline"
        label="Nombre"
        label-placement="floating">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
        formControlName="descripcion"
        fill="outline"
        [autoGrow]="true"
        label="Descripción"
        label-placement="floating">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select
        formControlName="itinerario"
        label="Itinerario"
        label-placement="floating"
        fill="outline"
        cancelText="Cancelar">
        <ion-select-option [value]="null">-</ion-select-option>
        <ion-select-option *ngFor="let itinerario of itinerarios" [value]="itinerario.id">{{ itinerario.denominacion }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        formControlName="club"
        label="Club"
        label-placement="floating"
        fill="outline"
        cancelText="Cancelar">
        <ion-select-option [value]="null">-</ion-select-option>
        <ion-select-option *ngFor="let club of clubes" [value]="club.id">{{ club.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <div class="dtcontainer">
        <ion-label text-wrap>Fecha de inicio</ion-label>
        <ion-datetime-button datetime="fecha_inicio"></ion-datetime-button>
      </div>
    </ion-item>
    <ion-item>
      <div class="dtcontainer">
        <ion-label text-wrap>Fecha de finalización</ion-label>
        <ion-datetime-button datetime="fecha_fin"></ion-datetime-button>
      </div>
    </ion-item>
    <ion-item>
      <ion-checkbox
        formControlName="privada"
        labelPlacement="start">
        Privada
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button type="submit" fill="solid">{{ accion }}</ion-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        formControlName="fecha_inicio"
        id="fecha_inicio">
      </ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        formControlName="fecha_fin"
        id="fecha_fin">
      </ion-datetime>
    </ng-template>
  </ion-modal>
</form>