ion-tab-button ion-icon{
  color: #999;
}
ion-tab-button.tab-selected ion-icon{
  color: var(--hikin-texto-claro);
}

app-sidemenu-left, app-sidemenu-right{
  height: 100%;
}

ion-tab-bar{
  --background: var(--hikin-primario);
}