article{
    padding-top: .75em;
}

article>div{
    padding: .5em 1.2em;
}

div.estrellas>ion-icon{
    font-size: 18px;

    margin-left: .1em;
}

div.estrellas>ion-icon.rellena{
    color: #FFD700;
}
div.estrellas>ion-icon.vacia{
    color: #bbb;
}